.breadcrumb-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  padding: 20px 200px;
}

.breadcrumb-content a {
  font-size: 16px;
}

.breadcrumb-content p {
  font-size: 10px;
}

@media (min-width: 300px) {
  .breadcrumb-content {
    padding: 5px;
    font-size: 11px;
  }

  .breadcrumb-content a {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .breadcrumb-content {
    font-size: 16px;
  }

  .breadcrumb-content a,
  .breadcrumb-content p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .breadcrumb-content {
    padding: 20px 60px;
  }
}

@media (min-width: 1200px) {
  .breadcrumb-content {
    padding: 20px 200px;
  }
}
