.offers {
  width: 100%;
}

.offers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  width: 85%;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left h2 {
  font-size: 60px;
}

.offers-left p {
  font-size: 18px;
}

.offers-right img {
  width: 300px;
}
